<div class="col-md-6 offset-md-3">
  <h3>Update Employee</h3>
  <div class="container flex-center">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>First Name</label>
        <input
          type="text"
          placeholder="first name"
          class="form-control"
          id="fname"
          [(ngModel)]="employee.fname"
          name="fname"
        />
      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input
          type="text"
          placeholder="last name"
          class="form-control"
          id="lname"
          [(ngModel)]="employee.lname"
          name="lname"
        />
      </div>

      <div class="form-group">
        <label>Email Id</label>
        <input
          type="text"
          placeholder="email"
          class="form-control"
          id="email"
          [(ngModel)]="employee.email"
          name="email"
        />
      </div>

      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
</div>
