<h2>Employee List</h2>
<div class="container flex-center">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Id</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td id="text">{{ employee.fname }}</td>
        <td id="text">{{ employee.lname }}</td>
        <td id="text">{{ employee.email }}</td>
        <td>
          <button
            (click)="updateEmployee(employee.id)"
            class="btn btn-info"
            style="color: white"
          >
            Update
          </button>
          <button
            (click)="deleteEmployee(employee.id)"
            class="btn btn-danger"
            style="margin-left: 10px"
          >
            Delete
          </button>
          <button
            (click)="employeeDetails(employee.id)"
            class="btn btn-info"
            style="margin-left: 10px; color: white"
          >
            View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
